certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
ffmpeg==1.4
Flask==3.0.3
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
moviepy==1.0.3
nltk==3.9.1
numba==0.60.0
numpy==2.0.2
openai-whisper==20240930
pillow==10.4.0
pydub==0.25.1
requests==2.32.3
setuptools==75.1.0
SpeechRecognition==3.10.4
torch==2.4.1
tqdm==4.66.5
urllib3==2.2.3
Werkzeug==3.0.4
